/* LOGIN HERO */

.login-hero {
  height: 65vh;

  background-image: url('../assets/login-hero.webp?v=1.0.1');

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-overlay {
  background: rgba(0,0,0,0.18);

  padding: 60px;

  text-align: center;

  color: white;
 backdrop-filter: blur(2px);
}

.login-overlay h1 {
  font-size: 3rem;

  font-weight: 300;

  max-width: 800px;

  margin-top: 20px;
}

/* LOGIN SECTION */

.login-section {
  padding: 140px 0;
}

.login-grid {
  display: grid;

  grid-template-columns: repeat(2,1fr);

  gap: 100px;

  align-items: center;
}

.login-info h2 {
  font-size: 2.5rem;

  font-weight: 300;

  margin: 20px 0;
}

.login-info p {
  max-width: 500px;
}

.login-benefits {
  margin-top: 40px;

  display: flex;

  flex-direction: column;

  gap: 15px;
}

/* FORM */

.login-form-box {
  background: white;

  padding: 60px;

  border: 1px solid rgba(0,0,0,0.06);
}

.login-form h3 {
  font-size: 2rem;

  font-weight: 300;

  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 30px;
}

.form-group label {
  display: block;

  margin-bottom: 12px;

  font-size: 0.95rem;
}

.form-group input {
  width: 100%;

  padding: 18px;

  border: 1px solid #d9d9d9;

  background: transparent;

  font-family: 'Josefin Sans', sans-serif;

  font-size: 1rem;
}

.form-group input:focus {
  outline: none;

  border-color: var(--camel);
}

.login-btn {
  width: 100%;

  border: none;

  cursor: pointer;

  margin-top: 10px;
}

.login-note {
  margin-top: 25px;

  text-align: center;

  font-size: 0.9rem;

  opacity: 0.7;
}

/* EXTRA SECTION */

.login-extra {
  padding: 140px 0;

  background: var(--soft-gray);
}

.extra-box {
  max-width: 850px;

  margin: auto;

  text-align: center;
}

.extra-box h2 {
  font-size: 2.5rem;

  font-weight: 300;

  margin: 20px 0;
}

.extra-box p {
  max-width: 650px;

  margin: auto;
}

/* MOBILE */

@media(max-width: 768px) {

  .login-overlay {
    padding: 30px;
  }

  .login-overlay h1 {
    font-size: 2rem;
  }

  .login-grid {
    grid-template-columns: 1fr;

    gap: 70px;
  }

  .login-info h2,
  .extra-box h2 {
    font-size: 2rem;
  }

  .login-form-box {
    padding: 40px 30px;
  }

  .login-section,
  .login-extra {
    padding: 100px 0;
  }

}